.title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .logos-section {
    text-align: center;
    padding: 50px;
    margin: 20px;
  }
  
  .logos-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .logos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .logos-category {
    margin-bottom: 40px;
  }
  
  .logo-item {
    position: relative;
    overflow: hidden;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    cursor: pointer;
  }
  
  .logo-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #64b5f6;
    border-radius: 50%;
    z-index: -1;
    transition: width 0.8s ease, height 0.8s ease, background-color 0.8s ease;
  }
  
  .logo-item:hover::after {
    width: 150%;
    height: 150%;
    background-color: #64b5f6; /* Dark black circle */
  }
  
  .logo-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .logo-item:hover img {
    transform: scale(1.2); /* Scale the image on hover */
  }
  